body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background: url(./img/WhatsApp\ Image\ 2024-04-08\ at\ 17.07.12.jpeg) hsl(0, 0%, 20%);
    background-blend-mode: overlay;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    color: #96d7e7;
  }

  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    margin-top: 20px;
  }

  input[type="number"] {
    padding: 8px;
    width: calc(100% - 85px);
  }

  input[type="number"],
  button {
    margin-bottom: 10px;
  }
button {
    padding: 8px 15px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }

  button:hover {
    background-color: #45a049;
  }

  #balance,
  #remaining-balance {
    margin-top: 20px;
    font-weight: bold;
  }